<div class="about-bsk"  @click="onShowMore">
    <img
      class="about-bsk__main-image"
      :src="image"
      :class="{
          'about-bsk__main-image--not-visible': isMouseEnter
      }"
    >
    <div
      v-if="!isMouseEnter"
      class="about-bsk__more-info"
    >
        <h2
          class="about-bsk__title"
        >
           {{ title }}
        </h2>
        <transition name="title">
            <a class="about-bsk__title about-bsk__bounce">&#8592;</a>
        </transition>
    </div>
    <transition name="slogan">
        <div v-if="isMouseEnter"
             class="about-bsk__slogan"
             :class="{
                'about-bsk__slogan--visible': isMouseEnter
             }"
        >
            <span
               v-if="slogan"
               class="about-bsk__slogan-title"
            >
                "{{ slogan }}"
            </span>
            <p class="about-bsk__main-info">
                {{ mainInfo }}
            </p>
            <p
              v-if="info"
              class="about-bsk__info"
            >
                {{ info }}
            </p>
        </div>
    </transition>
</div>
