<div class="about-bsk">
    <img
        class="about-bsk__main-image"
        src="https://static.bershka.net/4/static/images/home/2023/0915/chica/M_slide_woman_accessories_-1.jpg?20230921020706"
        :class="{
            'about-bsk__main-image--not-visible': isMouseEnter
        }"
    >
    <transition name="title">
        <h2
            v-if="!isMouseEnter"
            class="about-bsk__title"
        >
            VER MAS
        </h2>
    </transition>
    <transition name="slogan">
        <div v-if="isMouseEnter" class="about-bsk__slogan">
            <p>{{ info }}</p>
        </div>
    </transition>
</div>
