<section class="work-with-us">
    <h2 class="work-with-us__title">TRABAJA CON NOSOTROS</h2>
    <div>
        <h4>Únete al equipo de BSK!</h4>
        <p>Utiliza el buscador de ofertas de trabajo de Inditex y descubre todas las ofertas de trabajo en Bershka.</p>
        <a
            href="https://www.inditexcareers.com/portalweb/es/web/joinfashion/home?utm_source=bershka.com&utm_medium=ecommerce"
            class="work-with-us__link"
        >
            Acceder al buscador de Inditex
        </a>
    </div>
</section>
